:root {
    --first-section-bg-color: #1F2937;
    --fifth-section-bg-color: #1F2937;

    --white-text-color: #F9FAF8;
    --darker-text-color: #1F2937;
    --header-links-text-color: #E5E7EB;

    --sing-up-btn-bg-color: #3882F6;
    --forth-section-bg-color: #3882F6;

    --quote-section-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
}

/* DEFAULT STYLES */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    display: flex;
    justify-content: center;
}

button:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* UTILITY CLASSES */
.max-width {
    width: 1200px;
}

.display-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* my-10 from margin on Y axis of 10px */
.my-10 {
    margin: 10px 0;
}

.my-30 {
    margin: 40px 0;
}

.sign-up-btn {
    border: none;
    border-radius: 10px;
    padding: 10px 30px;

    font-size: 18px;
    font-weight: bold;

    background-color: var(--sing-up-btn-bg-color);
    color: var(--white-text-color);
}

/* <!-- ------------------------------------------- FIRST SECTION ------------------------------------------- --> */
.first-section {
    width: 100vw;
    background-color: var(--first-section-bg-color);
    color: var(--white-text-color);
}

header {
    justify-content: space-between;
    margin: 20px 0;
}

img {
    width: 600px;
    height: 300px;
}

.header-list {
    width: 500px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: var(--white-text-color);
}

/* I added the same styles for the header links and the paragraph that's inside the fist section */
.header-list-item a,
.paragraph-inside-first-section {
    color: var(--header-links-text-color);
    font-size: 18px;
    opacity: 0.8;
}

.title-inside-first-section {
    font-size: 48px;
    font-weight: 900;
}

.text-container {
    padding-right: 100px;
}

.text-inside-first-section-container {
    margin: 100px 0;
}

/* <!-- ------------------------------------------- SECOND SECTION ------------------------------------------- --> */
.second-section-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-section-title {
    font-size: 36px;
    color: var(--darker-text-color);
    font-weight: 900;
}

.boxes-container {
    width: 80%;
    margin-bottom: 100px;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.box {
    width: 180px;
    height: 180px;
    border: var(--sing-up-btn-bg-color) 4px solid;
    border-radius: 10px;
}

.box-description {
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    text-align: center;
    width: 150px;
}


/* <!-- ------------------------------------------- THIRD SECTION ------------------------------------------- --> */
.third-section {
    background-color: var(--quote-section-bg-color);
    color: var(--quote-text-color);
    font-size: 36px;
    font-style: italic;
}

.third-section-container {
    width: 72%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    padding: 120px 0;
}

.customer-name {
    /* I used width 90% so the text take almost the netire row so text aling end works */
    width: 90%;
    text-align: end;

    font-style: normal;
    font-size: 24px;
}

/* <!-- ------------------------------------------- FORTH SECTION ------------------------------------------- --> */
.forth-section {
    padding: 100px;
    color: var(--white-text-color);
}

.forth-section-container {
    justify-content: space-between;
    align-items: center;

    background-color: var(--forth-section-bg-color);
    border-radius: 10px;
    padding: 50px 180px;
}

.forth-section-paragraph {
    opacity: 0.8;
}

.forth-section-btn {
    border: 3px white solid;
}

/* <!-- ------------------------------------------- FIFTH SECTION ------------------------------------------- --> */
.fifth-section {
    background-color: var(--fifth-section-bg-color);
    color: var(--white-text-color);
}

footer {
    align-items: center;
    justify-content: center;

    padding: 40px 0;
}

.copyright {
    opacity: 0.8;
}